body {
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  font-family: Arial, sans-serif;
  background-color: #282c34;
  color: white;
  text-align: center;
}

a {
  --link-color: #61dafb; /* Light blue color for links */
  text-decoration: none; /* Remove underline */
  padding: 8px 16px; /* Padding around the link */
  border: 2px solid transparent; /* Transparent border initially */
  border-radius: 4px; /* Rounded corners */
  font-weight: bold;
  font-size: 15px;
  color: var(--link-color);
  transition: all 0.3s ease;
  position: relative;
  overflow: hidden;
}

a::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: var(--link-color);
  z-index: -1;
  transition: transform 0.4s ease;
  transform: scaleX(0); /* Initially hidden */
  transform-origin: right;
}

a:hover::before {
  transform: scaleX(1); /* Expand the background on hover */
  transform-origin: left;
}

a:hover {
  color: #282c34; /* Text color on hover */
  background-color: transparent; /* No background color on hover */
}

.container {
  max-width: 800px;
  padding: 20px;
  text-align: center;
}

.back-button {
  position: absolute;
  top: 10px;
  left: 10px;
  padding: 10px 20px;
  color: white;
  background-color: #61dafb;
  border: none;
  border-radius: 5px;
  text-decoration: none;
  font-size: 16px;
  transition: background-color 0.3s ease;
}

.back-button:hover {
  background-color: #42a5f5;
}
